.auth {
    margin: 60px auto 0;
    max-width: 358px
}
.auth__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #551616;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.auth__form {
    width: 100%;
    margin: 0 auto;
}
.auth__input {
    height: 27px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    border: none;
    border-bottom: 1px solid #CCCCCC;
    background-color: #da6f6f;
    margin-top: 30px;
}
.auth__link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #da6f6f;
    line-height: 17px;
    text-decoration: none;
}
.auth__buttons {
    position: absolute;
    bottom: 80px;
    width: 358px;
    display: flex;
    flex-direction: column;
}
.auth__text {
    font-size: 14px;
    line-height: 17px;
    margin: 0;
    margin-right: 4px;
}